{% extends 'base.html' %}


{% block title%}About Us{% endblock title %}
{% load static %}

{% block content %}

<div>
    <!-- add image -->
</div>
<h1>Welcome to our Company!</h1>
<h3>We are a team of passionate developers that are helping our clients!</h3>

<p>Our story started in 2023 when we just students in San Diego Global Knowledge University!</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate ea explicabo doloribus provident ipsa at eveniet
    nemo mollitia? Sequi delectus dolorem in libero magnam, accusantium excepturi quidem ut magni dolor.</p>

{% endblock content %}